.dashboard {
  padding: 40px;
}

.dashboard-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 75px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 16px; 
  background-color: #cc4444 !important; 
  border-radius: 12px;
  cursor: pointer;
  width: 250px;
  text-align: center;
  min-height: 50px; 
  color: white; 
}

.card h3 {
  margin-top: 12px;
  font-size: 18px;
  font-weight: 600;
  color: white;
}

.card-icon {
  font-size: 38px;
  color: white;
}
