.sidebar {
  background-color: #c04a4a;
  width: 250px;
  min-width: 250px;
  height: 100vh;
  color: white;
  padding: 20px;
  font-family: 'Poppins', sans-serif;
}

.sidebar-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  text-decoration: none;
  color: white;
}

.logo-image {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}

.logo-title {
  text-align: center;
  line-height: 1.2;
}

.logo-line1 {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.5px;
}

.logo-line2 {
  font-size: 14px;
  font-weight: bold;
  opacity: 10;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-menu li {
  padding: 15px 10px;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 5px;
  transition: 0.3s;
}

.sidebar-menu li a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
}

.sidebar-icon {
  margin-right: 5px;
}

.sidebar-menu li:hover,
.sidebar-menu li.active {
  background-color: #a73737;
}
